  <%= form_with model: [@comment], url: user_chain_comments_path(chain_id: chain[0][:id], user_id: current_user.id) do |f| %>
      <div class="comment-box form-group col-md-10">
        <%= f.text_area :content, placeholder: "コメント内容", class: "form-control", rows: "3" %>
      </div>
      <div class ="comment-btn">
        <%= f.submit "コメントする", class: "btn btn-primary" %>
      </div>
  <% end %>
