<div class="card">
  
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">MyChains</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MyBookShelf</a>
      </li>
    </ul>
  </div>

  <div class="card-group w-50">
    <%= render partial: 'chains/chain', locals: { chains: @chains} %>
  </div>

  <div class="card-group w-75">
    <%= render partial: 'books/book', locals: { books: @books} %>
  </div> 

</div>





