<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="deleteModalLabel">
        
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      この操作は取り消すことができません。
      <br>削除しますか？
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        キャンセル
      </button>
      
        <%= link_to user_chain_path(id: chain[:id], user_id: current_user.id), method: :delete do %>
          <button class="btn btn-primary delete_button">
            削除
          </button>
        <% end %>
      
    </div>
  </div>
</div>