<div class="container" >
  <%= render partial: 'chain', locals: { chains: @chain} %>
  
  <div class="comment-form fixed-bottom">
    <%= render partial: 'comments/comment_form', locals: { chain: @chain} %>
  </div>
  
  <div class="comment_media-container comment_lists">
    <%= render 'comments/comment_lists' %>
  </div>
  
</div>