  @import "bootstrap"; 
  @import "font-awesome";
  @import "book";
  @import "chain";
  @import "likes";
  @import "modal";

  * {
    text-decoration:none;
    list-style:none;
  }
  
  .container {
    width:100%;
    height:100%;
  }

  #pagetop {
    position:fixed;
    right:20px;
    bottom: 60px;
    cursor:pointer;
  }

  .form-box {
    margin-top:10px;
    #form {
      width:200px;
      height:40px;
      border-radius: 5px;
    }
  }