.send[disabled] {
  background-color: gray;
  cursor: not-allowed;
}
.required {
  color:red;
}
.required:before {
  content: "【必須】"
}

.book-container {
  width:100%;
  ul {
    display:flex;
    margin:0 auto;
    flex-wrap: wrap;
  }
}