.send[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

.book-container {
  width:100%;
  padding: 2em 1em;
  margin: 2em 0 100px;
  font-weight: bold;
  color: gray;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;
  ul {
    display:flex;
    margin:0 auto;
    flex-wrap: wrap;
  }
}

.book_show {
  padding-top:20px;
  padding-bottom:20px;
  width:700px;
  height:100%;
  margin:0 auto;
  font-size:20px;
  font-weight: bold;
  color: gray;
  display:flex;
  .__cover {
    width:100%;
  }
  ul {
    margin-left:20px;
    margin-top:20px;
    li {
      padding-bottom:10px;
    }
  }
}