.chain-container {
  width:100%;
  ul {
    display:flex;
    margin:0 auto;
    margin-bottom: 15px;
    width:750px;
    li {
      width:100px;
      }

    }
    .chain_index_right-box {
      width:100px;
      margin-left:15px;
      float:right;
    }
  }